{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row">
  <div id="primary" class="content-area">
    <div class="large-12 columns">
      <main id="main" class="site-main" role="main">
        <article class="page type-page status-publish hentry">
          <header class="entry-header">
            <h2 class="entry-title">
              {{ page.header.title }}
            </h2>
          </header>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/jennifer-bi.jpg" alt="Jennifer Bi" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Jennifer Bi</h2>
                    <p class="title">Co-President</p>
                    <p>Jennifer is a senior studying Neurobiology, and lives in Dunster House. She is originally from Beijing, China, and currently resides in Arizona. She is specifically interested in mental health in regards to body/self image. Through Harvard College Healing Thoughts, she hopes to relay the importance of mental health to others, and learn about pertinent mental health topics in our society. In her spare time, she enjoys reading aesthetic study blogs and learning Korean.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/mingu-kim.jpg" alt="Mingu Kim" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Mingu Kim</h2>
                    <p class="title">Co-President</p>
                    <p>Hi, I’m Mingu Kim, and I’m a senior in Leverett House studying Applied Mathematics with a focus in biology. I’m from Columbia, Missouri, and I’ve been interested in both the biological basis and the social factors that impact mental health. In my spare time, I enjoy coding, playing violin, and hanging out with friends.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/katherine-venturo-conerly.jpg" alt="Katherine Venturo-conerly" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Katherine Venturo-conerly</h2>
                    <p class="title">Vice President</p>
                    <p>Hi, I’m Katherine, and I’m a junior in Currier studying Psychology and History and Science. At school, I love working in the Weisz Lab for Youth Mental Health, serving as a Student Mental Health Liaison, and, of course, learning and discussing with Healing Thoughts! I am also very excited to begin counseling with Room 13 this year. My long-term goals include doing mental health intervention research and dissemination, and working as a patient advocate and educator.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/katherine-miclau.jpg" alt="Katherin Miclau" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Katherine Miclau</h2>
                    <p class="title">Public Relations Chair</p>
                    <p>I am from San Francisco, CA, and I’m interested in merging academia and clinical research to better understand and destigmatize several prevalent mental health issues. In particular, I’m most focused on bridging the gaps between the biological, social and psychological research on these global health issues. Outside of my academic pursuits, I love sports (particularly diving), watching theater performances, and playing board games!</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/ej-kim.jpg" alt="EJ Kim" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">EJ Kim</h2>
                    <p class="title">Blog Manager</p>
                    <p>My name is EJ, and I am a current junior hailing from Seoul, South Korea. Having grown up in a culture where mental health issues were prevalent yet seldom addressed, I have always wanted to contribute to the dialogue around mental illnesses, both from as a neurobiology concentrator from the biological perspective and from a more holistic, culture perspective.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/kai-trepka.jpg" alt="Kai Trepka" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Kai Trepka</h2>
                    <p class="title">Secretary</p>
                    <p>Hi, I'm Kai, and I'm a member of the class of 2020. I'm originally from Iowa. I'm interested in learning more about the interaction between research and treatment of mental illness. In my free time, I love playing music, dance, and card games. </p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/jeffrey-ding-he.jpg" alt="Jeffrey Ding He" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Jeffrey Ding He</h2>
                    <p class="title">Web Administrator</p>
                    <p>I’m a sophomore in Mather interested in computer science and economics. I’m very excited to be part of the HCHT team and hope to learn from and contribute to the research in mental health. In my free time, I play basketball, chess, and violin.</p>
                  </div>
              </div>
            </div>
            <br/>

          </div>

        </article>
      </main>
    </div>
  </div>
</div>

{% endblock %}
