{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row">
  <div id="primary" class="content-area">
    <div class="large-12 columns">
      <main id="main" class="site-main" role="main">
        <article class="page type-page status-publish hentry">
          <header class="entry-header">
            <h2 class="entry-title">
              {{ page.header.title }}
            </h2>
          </header>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/akash-wasil.jpg" alt="Akash Wasil" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Akash Wasil</h2>
                    <p class="title">Co-President</p>
                    <p>Hello, reader! My name is Akash and I am a senior studying psychology and global health. I conduct research with the Weisz Lab for Youth Mental Health, and I am a peer counselor for ECHO (Eating Concerns Hotline and Outreach). I am especially interested in global mental health research and technology-delivered mental health interventions. I have also enjoyed teaching at Legal Outreach, editing for the Harvard Political Review, and serving as a board member of Harvard Effective Altruism. In my free time, I enjoy listening to Broadway musicals (especially Book of Mormon and If/Then), watching professional StarCraft II matches, and gratitude journaling. I recently composed my first music composition, a short piece for “leaf” and “cup, preferably Starbucks”, two unconventional musical instruments.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/katherine-venturo-conerly.jpg" alt="Katherine Venturo-conerly" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Katherine Venturo-conerly</h2>
                    <p class="title">Co-President</p>
                    <p>Hi, I’m Katherine, and I’m a junior in Currier studying Psychology, Global Health and Health Policy, and Spanish. At school, I love working in the Weisz Lab for Youth Mental Health, serving as a Student Mental Health Liaison, working as a Peer Counselor, and, of course, learning and discussing with Students in Mental Health Research! My long-term goals include researching and disseminating mental health interventions and working as a patient advocate and educator. I'm especially interested in researching interventions for low-income countries.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/katherine-miclau.jpg" alt="Katherin Miclau" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Katherine Miclau</h2>
                    <p class="title">Vice President</p>
                    <p>My name is Katherine and I’m a junior in Lowell house originally from San Francisco, CA. At Harvard, I’m working towards a concentration in Neurobiology (Mind, Brain and Behavior Track), a secondary in Theater, Dance & Media, and a citation in French. In addition to being on the board of SIMHR, I’m a diver on the varsity team, a Pre-med Peer Liaison PAF in Holworthy West, and an expert explorer of Harvard’s most sequestered study spots. I am also working in a lab that researches the connectivity and functionality of the Default Mode Network. In SIMHR, I’m most interested in bridging the gaps between the biological, social and psychological research on these global health issues.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/kai-trepka.jpg" alt="Kai Trepka" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Kai Trepka</h2>
                    <p class="title">Research Coordinator</p>
                    <p>Hi, I'm Kai, a member of the Class of 2020 studying Chemistry and Physics. I'm interested in the link between statistical research, meta-analysis, and treatments for mental health issues, as well as study design. Other interests include card games, dance, and music-making.</p>
                  </div>
              </div>
            </div>
            <br/>

            <div class="card" style='overflow: hidden'>
              <div class="large-3 columns" style="padding-left: 0px">
                  <img src="{{ theme_url }}/img/people/anna-vaynrub.jpg" alt="Anna Vaynrub" style="width:100%; float:left; ">
              </div>
              <div class="large-9 columns">
                  <div class="container">
                    <h2 style="padding-top: 15px">Anna Vaynrub</h2>
                    <p class="title">Social Chair</p>
                    <p>I'm Anna, and I'm a junior in Dunster studying Molecular and Cellular Biology with a secondary in Statistics. I'm originally from Long Island, NY and I'm interested in understanding the biological mechanisms underlying the manifestation of mental disorders as well as the foundations of current therapies. I'm also curious about the efficacious implementation of these biological insights on an international level as measures to improve mental health. Outside of class, I'm involved in biomedical research and enjoy ice skating.</p>
                  </div>
              </div>
            </div>
            <br/>

          </div>

        </article>
      </main>
    </div>
  </div>
</div>

{% endblock %}
