<div class="row {{ page.header.class }}">
   <div class="large-12 columns">
      <div class="rescue-column rescue-one-half rescue-column-first  rescue-all">
      <div class="grav-youtube"><iframe src="https://www.youtube.com/embed/RhE0XGSZMsU" frameborder="0" allowfullscreen=""></iframe></div>

      </div>
      <div class="rescue-column rescue-one-half rescue-column-last  rescue-all">
         {{ page.content }}
         <p>
           {% for button in page.header.buttons %}
           <a href="{{ button.url }}" class="{{ button.class }}">{{ button.text }}</a>
           {% endfor %}
         </p>
      </div>
   </div>
   <!-- .large-12 -->
</div>
